@model HairSalon.Models.Stylist

<h2>@Model.Name</h2>

<div>
    <h4>Specialty</h4>
    <p>@Model.Specialty</p>
</div>

<div>
    <h4>Clients</h4>
    @if (Model.Clients.Any())
    {
        <ul>
            @foreach (var client in Model.Clients)
            {
                <li>
                    @Html.ActionLink(client.Name, "Detail", "Clients", new { id = client.ClientId }, null)
                </li>
            }
        </ul>
    }
    else
    {
        <p>This stylist has no current clients.</p>
    }

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StylistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>