@model HairSalon.Models.Stylist

@{
    ViewBag.Title = "Edit Stylist";
}

<h2>Edit Stylist</h2>

@using (Html.BeginForm("Edit", "Stylists", FormMethod.Post))
{
    
    @Html.HiddenFor(model => model.StylistId)

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Specialty)
        @Html.TextBoxFor(model => model.Specialty, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Specialty, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>